<%= form_for @paciente do |f| %>
  <% if @paciente.errors.any? %>
    <% @paciente.errors.messages.each do |message| %>
      <div class="message"><%= message.last.last.html_safe %></div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :nome, "Nome:"%>
    <%= f.text_field :nome, :placeholder => "Nome", :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :cpf, "Cpf:"%>
    <%= f.text_field :cpf, :placeholder => "Cpf", :class => "form-control", :maxlength => 11 %>
  </div>

  <%= f.submit "Gravar", :class => "btn btn-default" %>
<% end %>
