<h4>Listagem de Pacientes</h4>
<table class="table table-striped">
<tr>
	<td>Cód</td>
	<td>Nome</td>
	<td>Cpf</td>
  <td colspan='2'>Ação</td>
</tr>
<% @pacientes.each do |pac| %>
	<tr>
		<td><%=	pac.id %></td>
		<td><%=	pac.nome %></td>
		<td><%=	formata_cpf(pac.cpf) %></td>
    <td><%= link_to "Alterar", edit_paciente_path(pac) %></td>
    <td><%= link_to "Excluir", pac, method: :delete, data: { confirm: "Tem Certeza?"} %></td>
	</tr>
<% end -%>
</table>

<%= link_to "Novo Paciente", new_paciente_path %>