<table class="table table-striped">
<tr>
  <td>Cód</td>
  <td>Paciente</td>
  <td>Médico</td>
  <td>Data/Hora</td>
  <td colspan='2'>Ação</td>
</tr>
<% @agendamentos.each do |agenda| %>
  <tr>
    <td><%= agenda.id %></td>
    <td><%= agenda.paciente %></td>
    <td><%= agenda.medico %></td>
    <td><%= agenda.agenda.strftime("%d/%m/%Y %H:%M") %></td>
    <td><%= link_to "Excluir", agenda, method: :delete, data: { confirm: "Tem Certeza?"} %></td>
  </tr>
<% end -%>
</table>