  <%= form_for @agendamento, remote: true do |f| %>
    <table class="table table-striped">
    <% if @agendamento.errors.any? %>
      <% @agendamento.errors.messages.each do |message| %>
        <div class="message"><%= message.last.last.html_safe %></div>
      <% end %>
    <% end %>
    <tr>
      <td>
        <div class="form-group">
          <%= f.label :medico_id, "Médico:"%>
          <%= f.select("medico_id", Medico.all.collect {|m| [ m.nome, m.id ] }, { include_blank: true }) %>
        </div>        
      </td>
      <td>
        <div class="form-group">
          <%= f.label :paciente_id, "Paciente:"%>
          <%= f.select("paciente_id", Paciente.all.collect {|p| [ p.nome, p.id ] }, { include_blank: true }) %>
        </div>        
      </td>
      <td>
        <div class="form-group">
          <%= f.label :agenda, "Data:" %>
          <%= f.text_field :agenda %>
        </div>        
      </td>
    </tr>
    <tr>
      <td><%= f.submit "Gravar", :class => "btn btn-default" %></td>
    </tr>
  </table>
  <% end %>

<script type="text/javascript">
  $('#agendamento_agenda').datepicker({
    format: 'yyyy-mm-dd',
    autoclose: true,
    todayHighlight: true
  });
</script>