$('div#agendamentos').html("");
var table = makeHead();
var content = '';
var medico_id = <%= @id_med %>
$.getJSON('/medicos/' + medico_id + '/agendamentos.json', function(data){
  $.each(data, function(i, item){
    id_agen = data[i].id;
    nom_med = data[i].medico["nome"];
    nom_pac = data[i].paciente["nome"];
    data_ag = data[i].agenda;
    data_fm = data_ag.substring(8,10) + "/" + data_ag.substring(5,7) + "/" + data_ag.substring(0,4);
    content += "<tr id='"+id_agen+"'><td>"+ id_agen +"</td><td>" + nom_pac + "</td><td>" + nom_med + "</td><td>" + data_fm + "</td></tr>";
  });
  table += content;
  table += "</table>"
  $('div#agendamentos').append(table);
});

  function makeHead(){
    head = "";
    head += "<table class='table table-striped'>";
    head += "  <tr>";
    head += "   <td>Cód</td>";
    head += "   <td>Paciente</td>";
    head += "   <td>Médico</td>";
    head += "   <td>Data/Hora</td>";
    head += " </tr>";
    return head;
  }