<h4>Agenda de Atendimentos</h4>

<%= link_to("Novo Agendamento", new_agendamento_path , remote: true) %>
<div id='agendamento-form'></div>
<table class="table table-striped">
  <tr>
    <td>
      <div class="form-inline">Por Médico:
        <%= form_tag(agendamentos_path, :method => "get", id: "search-form") do %>
          <%= select("medico", "medico_id", Medico.all.collect {|m| [ m.nome, m.id ] }, { include_blank: true }) %>
          <%= submit_tag "Pesquisar", {id: 'medico' } %>
        <% end %>  
      </div>      
    </td>
    <td>
      <div class="form-inline">Por Período:
        <%= form_tag(agendamentos_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :data_inicial, "", placeholder: "Data Inicial" %>
          <%= text_field_tag :data_final, "", placeholder: "Data Final" %>
          <%= submit_tag "Pesquisar", { id: 'periodo'} %>
        <% end %>  
      </div>      
    </td>
  </tr>
</table>
<div id='agendamentos'>
  <% if @agendamentos.present? %>
    <table class="table table-striped"  id='table_agenda'>
      <tr>
        <td>Cód</td>
        <td>Paciente</td>
        <td>Médico</td>
        <td>Data/Hora</td>
        <td>Ação</td>
      </tr>
      <% @agendamentos.each do |agenda| %>
        <tr class="data">
          <td><%= agenda.id %></td>
          <td><%= agenda.paciente %></td>
          <td><%= agenda.medico %></td>
          <td><%= agenda.agenda.strftime("%d/%m/%Y %H:%M") %></td>
          <td><%= link_to "Excluir", agenda, remote: true, method: :delete, data: { confirm: "Tem Certeza?"} %></td>
        </tr>
      <% end -%>
    </table>
  <% else %>
    <p>Não foi localizado nenhum agendamento para <%= params[:medico] %>.</p>
  <% end %>  
</div>  
</div>

<script type="text/javascript">
    $('#medico').click(function(event){
      $('div#agendamentos').html("");
      var table = makeHead();
      var content = '';
      var medico_id = $('select#medico_medico_id').find(':selected').val();
      $.getJSON('/medicos/' + medico_id + '/agendamentos.json', function(data){
        $.each(data, function(i, item){
          id_agen = data[i].id;
          nom_med = data[i].medico["nome"];
          nom_pac = data[i].paciente["nome"];
          data_ag = data[i].agenda;
          data_fm = data_ag.substring(8,10) + "/" + data_ag.substring(5,7) + "/" + data_ag.substring(0,4);
          content += "<tr id='"+id_agen+"'><td>"+ id_agen +"</td><td>" + nom_pac + "</td><td>" + nom_med + "</td><td>" + data_fm + "</td></tr>";
        });
        table += content;
        table += "</table>"
        $('div#agendamentos').append(table);
      });
      event.preventDefault();
    });  

    $('#periodo').click(function(event){
      $('div#agendamentos').html("");
      var table = makeHead();
      var content = '';
      var initial_date = $('input#data_inicial').val();
      var final_date   = $('input#data_final').val();
      var url = '/agendamentos';

      $.getJSON(url,{
        data_inicial: initial_date,
        data_final: final_date,
        format: "json"
      }).done(function(data){
        $.each(data, function(i, item){
          id_agen = data[i].id;
          nom_med = data[i].medico["nome"];
          nom_pac = data[i].paciente["nome"];
          data_ag = data[i].agenda;
          data_fm = data_ag.substring(8,10) + "/" + data_ag.substring(5,7) + "/" + data_ag.substring(0,4);
          content += "<tr id='"+id_agen+"'><td>"+ id_agen +"</td><td>" + nom_pac + "</td><td>" + nom_med + "</td><td>" + data_fm + "</td></tr>";          
        });
        table += content;
        table += "</table>"
        $('div#agendamentos').append(table);
      })

      event.preventDefault();
    });


    function makeHead(){
      head = "";
      head += "<table class='table table-striped' id='table_agenda'>";
      head += "  <tr>";
      head += "   <td>Cód</td>";
      head += "   <td>Paciente</td>";
      head += "   <td>Médico</td>";
      head += "   <td>Data/Hora</td>";
      head += " </tr>";
      return head;
    }

    $('a#excluir').click(function(event){
      var id = $(this).attr('value');
      $.ajax({
        url: '/agendamentos/' + id,
        type: 'DELETE',
        success: function(data){
          alert('Excluido'); 
        }
      });
      event.preventDefault();
    });

</script>