<% if object.nil? %>
  <% unless flash.empty? %>
    <% flash.each do |type, message| %>
      <div class="ui message">
      <i class="close icon"></i>
      <p><%= message %></p>
    <% end %>
  <% end %>
<% else %>
  <% unless object.errors.empty? %>
    <div class="ui message">
    <i class="close icon"></i>
    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end  %>
    <% object.errors.each do |attr, msg| %>
      <li><%= "#{object.class.human_attribute_name(attr).capitalize} - #{msg}" %></li>
    <% end %>
    </div>
  <% end %>
<% end %>