<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: "alert alert-#{name} alert-dismissible" do %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <% end -%>
<% end -%>