<%= form_for @medico do |f| %>
  <% if @medico.errors.any? %>
    <% @medico.errors.messages.each do |message| %>
      <div class="message"><%= message.last.last.html_safe %></div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :nome, "Nome:"%>
    <%= f.text_field :nome, :placeholder => "Nome", :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :crm, "CRM:"%>
    <%= f.text_field :crm, :placeholder => "CRM", :class => "form-control", :maxlength => 8 %>
  </div>

  <%= f.submit "Gravar", :class => "btn btn-default" %>
<% end %>
