<h4>Listagem de Médicos</h4>
<table class="table table-striped">
<tr>
  <td>Cód</td>
  <td>Nome</td>
  <td>Crm</td>
  <td colspan='2'>Ação</td>
</tr>
<% @medicos.each do |med| %>
  <tr>
    <td><%= med.id %></td>
    <td><%= med.nome %></td>
    <td><%= med.crm %></td>
    <td><%= link_to "Alterar", edit_medico_path(med) %></td>
    <td><%= link_to "Excluir", med, method: :delete, data: { confirm: "Tem Certeza?"} %></td>
  </tr>
<% end -%>
</table>

<%= link_to "Novo Médico", new_medico_path %>