<nav class="navbar navbar-dark bg-inverse">
  <%= link_to image_tag("medical_icon"), root_path, class: "navbar-brand" %>
  <ul class="nav navbar-nav">

    <li class="nav-item active">
      <%= link_to pacientes_path, {:class => "nav_link"} do %>
         Pacientes<span class="sr-only">(current)</span>
      <% end %>
    </li>
    <li class="nav-item">
          <%= link_to medicos_path, {:class => "nav_link"} do %>
         Médicos
      <% end %>
    </li>
    <li class="nav-item">
          <%= link_to agendamentos_path, {:class => "nav_link"} do %>
         Agendamentos
         <% end %>
    </li>
  </ul>
</nav>

